<div class="agr-grid-section-header">
  <div class="agr-grid-section-header-title">
    {{title}}
  </div>
  <div class="agr-grid-section-header-buttons">
<!--    <button class="mdi mdi-cog"></button>-->
    <ng-container *ngIf="collapsible">
      <button class="mdi"
              [ngClass]="{'mdi-arrow-expand':collapsed,'mdi-arrow-collapse':!collapsed}"
              (click)="collapse.emit(!collapsed)">

      </button>
    </ng-container>
    <button class="mdi mdi-pin mdi-rotate-45"
            *ngIf="pin"></button>
  </div>
</div>
