<div class="agr-filter-content">
  <p-table class="agr-filter-values"
           [value]="filteredOptions"
           scrollHeight="flex"
           [scrollable]="true"
           [virtualScroll]="true"
           [virtualRowHeight]="24"
           [style]="{width:'250px'}">
    <ng-template pTemplate="colgroup">
      <col style="width: 2em"/>
      <col/>
    </ng-template>
    <ng-template pTemplate="header">
      <tr>
        <th colspan="2">
          <p-checkbox class="agr-filter-checkbox"
                      styleClass="agr-filter-checkbox"
                      [binary]="true"
                      [(ngModel)]="selectedAll"
                      (ngModelChange)="onSelectAll()"></p-checkbox>
          Select All
        </th>
      </tr>
      <tr>
        <th colspan="2">
          <input type="text" class="sqr-input"
                 [(ngModel)]="filterText" (ngModelChange)="changeText()">
        </th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData>
      <tr>
        <td>
          <p-checkbox styleClass="agr-filter-checkbox"
                      [binary]="true"
                      [(ngModel)]="rowData.selected"
                      (ngModelChange)="onSelect()"></p-checkbox>
        </td>
        <td [title]="rowData.label">
          {{rowData.label}}
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>

