<p-table class="agr-section-table agr-financial-table"
         #primengTable
         aqrFixTablePrimeng
         [value]="grid.gridEngine.rows"
         [scrollable]="true"
         [style]="{width:'100%'}"
         scrollHeight="flex"
         [frozenWidth]="frozenWidth"
         [virtualScroll]="true"
         [virtualRowHeight]="25"
         [reorderableColumns]="true"
         [resizableColumns]="true"
         columnResizeMode="expand"
         (onEditInit)="editInit($event)"
         (onEditComplete)="editComplete($event)"
         (onEditCancel)="editCancel()">
  <ng-template pTemplate="colgroup">
    <colgroup>
      <col *ngFor="let column of grid.gridEngine.body" [style.width]="column.width"/>
    </colgroup>
  </ng-template>
  <ng-template pTemplate="frozencolgroup">
    <colgroup>
      <col *ngFor="let column of grid.gridEngine.frozenBody" [style.width]="column.width"/>
    </colgroup>
  </ng-template>

  <ng-template pTemplate="header">
    <tr *ngFor="let rowHeader of grid.gridEngine.header;index as index;last as last">
      <th *ngFor="let column of rowHeader;last as last"
          [attr.colspan]="column.colSpan"
          [attr.rowspan]="column.rowSpan"
          [ngClass]="{'agr-end-section':(index==0 || column.isLast),'agr-grid-section':index==0,
          'agr-grid-checkbox':column.columnDef.field=='checkbox'}"
          pResizableColumn
          pReorderableColumn
          agrDragColumn
          [dragDisabled]="column.columnDef.dragDisabled"
          (dragStartEvent)="dragStartColumn(column)"
          (dropEvent)="dropColumn(column)">
        <ng-container [ngSwitch]="index">
          <ng-container *ngSwitchCase="0">
            <agr-grid-section-header
              [title]="column.columnDef.title"
              [collapsible]="column.columnDef.collapsible"
              [collapsed]="column.columnDef.collapsed"
              [pin]="column.columnDef.pin"
              [pinned]="column.columnDef.pinned"
              (collapse)="toggleCollapse(column)"
              (pinChange)="togglePin(column)">
            </agr-grid-section-header>
          </ng-container>
          <ng-container *ngSwitchDefault>
            <p-checkbox *ngIf="column.columnDef.field=='checkbox';else default"
                        [binary]="true"
                        [ngModel]="grid.gridEngine.selectedAll"
                        (ngModelChange)="grid.gridEngine.toggleSelectAll()"></p-checkbox>
            <ng-template #default>
              <agr-grid-header [column]="column"></agr-grid-header>
            </ng-template>
          </ng-container>
        </ng-container>
      </th>
    </tr>
  </ng-template>
  <ng-template pTemplate="frozenheader">
    <tr *ngFor="let rowHeader of grid.gridEngine.frozenHeader;index as index;last as last"
        [ngClass]="{'agr-tr-height':index!=0}">
      <th *ngFor="let column of rowHeader;last as last"
          [attr.colspan]="column.colSpan"
          [attr.rowspan]="column.rowSpan"
          [ngClass]="{'agr-end-section':(index==0 || column.isLast),'agr-grid-section':index==0,
          'agr-grid-checkbox':column.columnDef.field=='checkbox'}"
          pResizableColumn
          pReorderableColumn
          agrDragColumn>
        <ng-container [ngSwitch]="index">
          <ng-container *ngSwitchCase="0">
            <agr-grid-section-header
              [title]="column.columnDef.title"
              [collapsible]="column.columnDef.collapsible"
              [collapsed]="column.columnDef.collapsed"
              [pin]="column.columnDef.pin"
              [pinned]="column.columnDef.pinned"
              (collapse)="toggleCollapse(column)"
              (pinChange)="togglePin(column)">
            </agr-grid-section-header>
          </ng-container>
          <ng-container *ngSwitchDefault>
            <p-checkbox *ngIf="column.columnDef.field=='checkbox';else default"
                        [binary]="true"
                        [ngModel]="grid.gridEngine.selectedAll"
                        (ngModelChange)="grid.gridEngine.toggleSelectAll()"></p-checkbox>
            <ng-template #default>
              <agr-grid-header [column]="column"></agr-grid-header>
            </ng-template>
          </ng-container>
        </ng-container>
      </th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-rowData let-rowIndex="rowIndex">
    <ng-container
      *ngTemplateOutlet="body;context:{$implicit:rowData,body:grid.gridEngine.body,rowIndex}"></ng-container>
  </ng-template>
  <ng-template pTemplate="frozenbody" let-rowData let-rowIndex="rowIndex">
    <ng-container
      *ngTemplateOutlet="body;context:{$implicit:rowData,body:grid.gridEngine.frozenBody,rowIndex}"></ng-container>
  </ng-template>
  <ng-template pTemplate="footer">
    <ng-container
      *ngTemplateOutlet="footer;context:{$implicit:grid.gridEngine.body}"></ng-container>
  </ng-template>
  <ng-template pTemplate="frozenfooter">
    <ng-container
      *ngTemplateOutlet="footer;context:{$implicit:grid.gridEngine.frozenBody}"></ng-container>
  </ng-template>
</p-table>

<ng-template #body let-rowData let-body="body" let-rowIndex="rowIndex">
  <tr>
<!--    <td style="text-align: center">-->
<!--      <p-checkbox [binary]="true"-->
<!--                  [(ngModel)]="grid.gridEngine.selectedAll"-->
<!--                  (ngModelChange)="grid.gridEngine.selectAll()"></p-checkbox>-->
<!--    </td>-->
    <td *ngFor="let column of body;last as last;"
        [ngClass]="{'agr-end-section':column.isLast,'agr-editable-cell':column.columnDef.editable,
        'agr-row-level-0':rowData.rowLevel==0,'agr-row-level-1':rowData.rowLevel==1,
        'agr-grid-checkbox':column.columnDef.field=='checkbox'}"
        [pEditableColumn]="rowData.data"
        [pEditableColumnField]="column"
        [pEditableColumnRowIndex]="rowIndex"
        [pEditableColumnDisabled]="!grid.gridEngine.editableColumn(column,rowData)">
      <p-cellEditor>
        <ng-template pTemplate="input">
          <agr-grid-cell-editor [row]="rowData.data"
                                [column]="column"
                                [value]="editValue"
                                [reference]="reference" referenceLabel="accountType">
          </agr-grid-cell-editor>
        </ng-template>
        <ng-template pTemplate="output">
          <p-checkbox *ngIf="column.columnDef.field=='checkbox';else default"
                      [binary]="true"
                      [ngModel]="rowData.selected"
                      (ngModelChange)="grid.gridEngine.toggleSelect(rowData)"></p-checkbox>
          <ng-template #default>
            <agr-grid-cell [row]="column.columnDef.field==='index_number'?rowIndex:rowData.data"
                           [column]="column">
              <i *ngIf="column.columnDef.field==='index_number'&&(rowData.rowLevel===0||rowData.rowLevel===1)"
                 class="mdi agr-chevron"
                 [ngClass]="{'mdi-chevron-down':!rowData.collapsed,'mdi-chevron-right':rowData.collapsed}"
                 (click)="grid.gridEngine.toggleCollapseRow(rowData)"
                 grid-cell-left ></i>
            </agr-grid-cell>
          </ng-template>

        </ng-template>
      </p-cellEditor>
    </td>
  </tr>
</ng-template>

<ng-template #footer let-body>
  <tr>
    <td *ngFor="let column of body;last as last"
        class="agr-grid-footer"
        [ngClass]="{'agr-end-section':column.isLast}">
      <agr-grid-footer class="agr-grid-footer"
                       *ngIf="column.columnDef.showFooter"
                       [column]="column"></agr-grid-footer>
    </td>
  </tr>
</ng-template>
