<div class="agr-page">
  <div class="agr-page-header">
    <div class="agr-page-header-title">
      <div class="agr-page-header-caption">Demo</div>
      Life Science
    </div>
    <div class="agr-page-header-filter">
      <agr-page-grid-filter></agr-page-grid-filter>
    </div>
    <div class="agr-page-header-last">
      <button class="agr-btn" (click)="gridService.export()">Export</button>
      <button class="agr-btn" (click)="gridService.refresh()">Refresh</button>
    </div>
  </div>
  <div class="agr-page-content">
    <agr-section-grid></agr-section-grid>
  </div>
</div>

