:host{
  padding: 4px;
  width:100%;
  height: 100%;
  display: flex;
  align-items: center;
}
.agr-grid-cell-value{
  flex:1;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.agr-grid-cell-number{
  text-align: right;
}
